@import url('https://fonts.googleapis.com/css?family=Pacifico');

.ant-layout-header {
    background-color: #ffffff;
    padding: 0;
}

.ant-layout-header .logo{
    padding: 16px 28px 16px 16px;
    
    font-weight: 400;
    font-size:18px;
    float: left;
    line-height: 32px;     
    font-family: 'Pacifico', cursive;
    letter-spacing: 0.12em;
}

.ant-layout-header .logo a{
    color: rgb(209, 9, 9);
    text-decoration: none;
}

.main-content {
    padding: 24px 50px;
}

.main-content .wrap {
    padding: 24px 24px;
    background-color: #fff;
}

.loading-app {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

    padding: 20px;
    border: 2px solid #edeff1;
    background-color: #c7c7c705;
}

.loading-app .ant-spin{
    display: inline-block;
    margin-bottom: 14px;
}

.loading-app span{
    display: block;
    color: #a0a2a5;
}