.book-content .book-options .book-option {
    font-size: 13px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 16px;
    cursor: pointer;
}

.book-content .book-options .book-option.selected {
    display: none;
}

.book-content .book-options .book-option:hover {
    background-color: white;
    color: black;
}