
.ribbon {
    font-size: 16px;
    display: inline-block;
    position: relative;
    background-color: #d187cb;
    color: #fff;
    text-align: center;
    padding: 6px 24px 6px 40px;
    margin: 2em auto 3em;
    margin: 0px 0px 20px -40px
}

.ribbon-left:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}

.ribbon-right:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}

.ribbon-left .ribbon-content:before, 
.ribbon-right .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #5c5c5c transparent transparent transparent;
    bottom: -1em;
}

.ribbon-left .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon-right .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}