article.about {
    display: flex;
}

article.about .col {
    flex: 0 0 50%;
}

article.about ul {
    padding: 0 0 0 16px;
}

article.about h1 {
    font-size: 2em;
}

article.about .col.col-left {
    border-right: 1px solid #f1f1f1;
    padding: 0 20px 0 0;
}

article.about .col.col-right {
    padding: 0 0 0 20px;
}

@media (max-width: 600px) {
    article.about {
        display: block;
    }

    article.about .col {
        flex: none;
    }

    article.about .col {
        padding: 0 !important;
        border-width: 0 !important;
    }
}