.loading .ant-spin{
    margin-right: 10px;
}

.info-book .btn {
    display: inline-block;
    margin: 16px 16px 0 0;
    padding: 12px 14px;
    transition: border 0.4s;
    box-shadow: 0 1px 1px #ccc;
    border: 2px solid #ffffff;
}

.info-book .btn:hover {
    border: 2px solid #1890ff;
}
